
  
  
  
  .player {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }
  
  .player__controls {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0 5px 0;

  }
  
  .player__btn {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
      background-color:#f02b87;
      color: #fff;
  }
  .player__btn--medium{
    min-width: 55px;
    min-height: 55px;
    font-size: 35px;
  }
  
  
  .player__btn--small {
    font-size: 20px;
    border: #f51d82 solid 1px;
    background: #ffffff;
    color: #f51d82;
    min-width: 40px;
    height: 40px;
    
  }
  

  
  .progress-area{
    height:9px;
    width: 90%;
    background-color:white;
    border-radius: 50px;
    cursor: pointer;
    border: #f51d82 solid 1px;
  }
  .progress-area .progress-bar{
    height:9px;
    width: 40%;
    border-radius: inherit;
    background: #f51d82; 
    position:relative;
  }

  .progress-bar::before{
    content: " ";
    position: absolute;
    height: 13px;
    width: 12px;
    background: #f51d82;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;

  }
  .progress-area:hover .progress-bar::before{
    opacity:1;

  }
  
  .player__audio {
    visibility:collapse;
  }

.hide {
    display: none;
  }
  